USE [master]
GO
/****** Object:  Database [PHANQUYENNGUOIDUNG]    Script Date: 7/1/2025 12:53:38 AM ******/
CREATE DATABASE [PHANQUYENNGUOIDUNG]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'PHANQUYENNGUOIDUNG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PHANQUYENNGUOIDUNG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'PHANQUYENNGUOIDUNG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PHANQUYENNGUOIDUNG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET COMPATIBILITY_LEVEL = 160
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [PHANQUYENNGUOIDUNG].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET AUTO_CLOSE OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET  ENABLE_BROKER 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET RECOVERY FULL 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET  MULTI_USER 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET TARGET_RECOVERY_TIME = 60 SECONDS 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET DELAYED_DURABILITY = DISABLED 
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET ACCELERATED_DATABASE_RECOVERY = OFF  
--GO
--EXEC sys.sp_db_vardecimal_storage_format N'PHANQUYENNGUOIDUNG', N'ON'
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET QUERY_STORE = ON
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
--GO
USE [PHANQUYENNGUOIDUNG]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 7/1/2025 12:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[MaCN] [nvarchar](10) NOT NULL,
	[TenCN] [nvarchar](100) NOT NULL,
	[TenManHinhDuocLoad] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 7/1/2025 12:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[MaNhom] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 7/1/2025 12:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MaNhom] [nvarchar](10) NOT NULL,
	[TenNhom] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 7/1/2025 12:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaNhom] [nvarchar](10) NOT NULL,
	[MaChucNang] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC,
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUCNANG] ([MaCN], [TenCN], [TenManHinhDuocLoad]) VALUES (N'CN01', N'Quản lý tài khoản', N'AccountManageView')
INSERT [dbo].[CHUCNANG] ([MaCN], [TenCN], [TenManHinhDuocLoad]) VALUES (N'CN02', N'Thêm học sinh mới', N'AddFreshmanStudentView')
INSERT [dbo].[CHUCNANG] ([MaCN], [TenCN], [TenManHinhDuocLoad]) VALUES (N'CN03', N'Thêm học sinh', N'AddStudentView')
GO
INSERT [dbo].[NGUOIDUNG] ([TenDangNhap], [MatKhau], [MaNhom]) VALUES (N'admin', N'123456', N'ADMIN')
INSERT [dbo].[NGUOIDUNG] ([TenDangNhap], [MatKhau], [MaNhom]) VALUES (N'giaovu', N'123456', N'BGH')
INSERT [dbo].[NGUOIDUNG] ([TenDangNhap], [MatKhau], [MaNhom]) VALUES (N'hieutruong', N'123456', N'BGH')
GO
INSERT [dbo].[NHOMNGUOIDUNG] ([MaNhom], [TenNhom]) VALUES (N'ADMIN', N'Admin')
INSERT [dbo].[NHOMNGUOIDUNG] ([MaNhom], [TenNhom]) VALUES (N'BGH', N'Ban Giám Hiệu')
INSERT [dbo].[NHOMNGUOIDUNG] ([MaNhom], [TenNhom]) VALUES (N'GIAOVU', N'Giáo Vụ')
GO
INSERT [dbo].[PHANQUYEN] ([MaNhom], [MaChucNang]) VALUES (N'ADMIN', N'CN01')
INSERT [dbo].[PHANQUYEN] ([MaNhom], [MaChucNang]) VALUES (N'ADMIN', N'CN15')
INSERT [dbo].[PHANQUYEN] ([MaNhom], [MaChucNang]) VALUES (N'ADMIN', N'CN16')
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([MaChucNang])
REFERENCES [dbo].[CHUCNANG] ([MaCN])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
--USE [master]
--GO
--ALTER DATABASE [PHANQUYENNGUOIDUNG] SET  READ_WRITE 
--GO
