USE [master]
GO
/****** Object:  Database [QUANLYHOCSINH]    Script Date: 7/1/2025 1:46:15 PM ******/
CREATE DATABASE [QUANLYHOCSINH]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'QUANLYHOCSINH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYHOCSINH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'QUANLYHOCSINH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYHOCSINH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET COMPATIBILITY_LEVEL = 160
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [QUANLYHOCSINH].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET AUTO_CLOSE OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET  ENABLE_BROKER 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET RECOVERY FULL 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET  MULTI_USER 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET TARGET_RECOVERY_TIME = 60 SECONDS 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET DELAYED_DURABILITY = DISABLED 
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET ACCELERATED_DATABASE_RECOVERY = OFF  
--GO
--EXEC sys.sp_db_vardecimal_storage_format N'QUANLYHOCSINH', N'ON'
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET QUERY_STORE = ON
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
--GO
USE [QUANLYHOCSINH]
GO
/****** Object:  Table [dbo].[BANGDIEMMONHOC]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEMMONHOC](
	[MABDMH] [varchar](10) NOT NULL,
	[MALOP] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[MAHOCKY] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABDMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCTONGKETHOCKY]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCTONGKETHOCKY](
	[MABCTKHOCKY] [varchar](10) NOT NULL,
	[MAHOCKY] [varchar](10) NOT NULL,
	[MANAMHOC] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABCTKHOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCTONGKETMON]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCTONGKETMON](
	[MABCTKMON] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[MAHOCKY] [varchar](10) NOT NULL,
	[MANAMHOC] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABCTKMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BANGDIEMMONHOC]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BANGDIEMMONHOC](
	[MACTBDMH] [varchar](10) NOT NULL,
	[MABDMH] [varchar](10) NOT NULL,
	[MAHS] [varchar](10) NOT NULL,
	[DTBMON] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTBDMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BCTONGKETHOCKY]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BCTONGKETHOCKY](
	[MABCTKHOCKY] [varchar](10) NOT NULL,
	[MALOP] [varchar](10) NOT NULL,
	[SISO] [int] NOT NULL,
	[SOLUONGDAT] [int] NOT NULL,
	[TILEDAT] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABCTKHOCKY] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BCTONGKETMON]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BCTONGKETMON](
	[MABCTKMON] [varchar](10) NOT NULL,
	[MALOP] [varchar](10) NOT NULL,
	[SISO] [int] NOT NULL,
	[SOLUONGDAT] [int] NOT NULL,
	[TILEDAT] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABCTKMON] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DIEMMONHOC]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DIEMMONHOC](
	[MACTBDMH] [varchar](10) NOT NULL,
	[MALOAIDIEM] [varchar](10) NOT NULL,
	[LAN] [int] NOT NULL,
	[DIEM] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTBDMH] ASC,
	[MALOAIDIEM] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_LOP]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LOP](
	[MALOP] [varchar](10) NOT NULL,
	[MAHS] [varchar](10) NOT NULL,
	[MAHOCKY] [varchar](10) NOT NULL,
	[DTBHK] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAHS] ASC,
	[MAHOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_MONHOC]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[MALOAIDIEM] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MALOAIDIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MAHOCKY] [varchar](10) NOT NULL,
	[TENHOCKY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](3) NOT NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[DIACHI] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOI]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI](
	[MAKHOI] [varchar](10) NOT NULL,
	[TENKHOI] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDIEM]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDIEM](
	[MALOAIDIEM] [varchar](10) NOT NULL,
	[TENLOAIDIEM] [nvarchar](20) NOT NULL,
	[HESOLD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIDIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](10) NOT NULL,
	[TENLOP] [varchar](50) NOT NULL,
	[SISO] [int] NOT NULL,
	[MAKHOI] [varchar](10) NOT NULL,
	[MANAMHOC] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [nvarchar](100) NOT NULL,
	[HESO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[MANAMHOC] [varchar](10) NOT NULL,
	[NAM1] [int] NOT NULL,
	[NAM2] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANAMHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TENTHAMSO] [nvarchar](255) NOT NULL,
	[GIATRI] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTHAMSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_LOP] ([MALOP], [MAHS], [MAHOCKY], [DTBHK]) VALUES (N'22_10A1', N'HS01', N'HK1', 6.5)
INSERT [dbo].[CT_LOP] ([MALOP], [MAHS], [MAHOCKY], [DTBHK]) VALUES (N'22_10A1', N'HS01', N'HK2', 8.5)
INSERT [dbo].[CT_LOP] ([MALOP], [MAHS], [MAHOCKY], [DTBHK]) VALUES (N'22_10A1', N'HS02', N'HK1', 7.8)
GO
INSERT [dbo].[CT_MONHOC] ([MAMH], [MALOAIDIEM]) VALUES (N'DAODUC', N'M1')
INSERT [dbo].[CT_MONHOC] ([MAMH], [MALOAIDIEM]) VALUES (N'DAODUC', N'M2')
INSERT [dbo].[CT_MONHOC] ([MAMH], [MALOAIDIEM]) VALUES (N'DAODUC', N'M3')
GO
INSERT [dbo].[HOCKY] ([MAHOCKY], [TENHOCKY]) VALUES (N'HK1', N'Học kỳ I')
INSERT [dbo].[HOCKY] ([MAHOCKY], [TENHOCKY]) VALUES (N'HK2', N'Học kỳ II')
GO
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'1273792777', N'Phạm Ánh Dương', N'Nữ', CAST(N'2009-07-17T00:00:00' AS SmallDateTime), N'Bắc Giang_Yên Dũng_Neo', N'khh@gmail.com')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'3562499007', N'Trấn Ngọc Khảo', N'Nam', CAST(N'2009-07-20T00:00:00' AS SmallDateTime), N'Bắc Giang_Yên Dũng_Tiền Phong', N'khh@gmail.com')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'8299497701', N'Phạm Ngọc Khánh', N'Nam', CAST(N'2009-07-17T00:00:00' AS SmallDateTime), N'Bắc Giang_Yên Dũng_Neo', N'khh@gmail.com')
GO
INSERT [dbo].[KHOI] ([MAKHOI], [TENKHOI]) VALUES (N'K10', N'Khối 10')
INSERT [dbo].[KHOI] ([MAKHOI], [TENKHOI]) VALUES (N'K11', N'Khối 11')
INSERT [dbo].[KHOI] ([MAKHOI], [TENKHOI]) VALUES (N'K12', N'Khối 12')
GO
INSERT [dbo].[LOAIDIEM] ([MALOAIDIEM], [TENLOAIDIEM], [HESOLD]) VALUES (N'M1', N'Miệng', 1)
INSERT [dbo].[LOAIDIEM] ([MALOAIDIEM], [TENLOAIDIEM], [HESOLD]) VALUES (N'M2', N'15 phút', 1)
INSERT [dbo].[LOAIDIEM] ([MALOAIDIEM], [TENLOAIDIEM], [HESOLD]) VALUES (N'M3', N'1 tiết', 2)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO], [MAKHOI], [MANAMHOC]) VALUES (N'22_10A1', N'10A1', 6, N'K10', N'NH2223')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO], [MAKHOI], [MANAMHOC]) VALUES (N'22_10A2', N'10A2', 6, N'K10', N'NH2223')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO], [MAKHOI], [MANAMHOC]) VALUES (N'22_10A3', N'10A3', 6, N'K10', N'NH2223')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [HESO]) VALUES (N'DAODUC', N'Đạo Đức', 1)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [HESO]) VALUES (N'DIA', N'Địa', 1)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [HESO]) VALUES (N'HOA', N'Hóa', 1)
GO
INSERT [dbo].[NAMHOC] ([MANAMHOC], [NAM1], [NAM2]) VALUES (N'NH2223', 2022, 2023)
INSERT [dbo].[NAMHOC] ([MANAMHOC], [NAM1], [NAM2]) VALUES (N'NH2324', 2023, 2024)
INSERT [dbo].[NAMHOC] ([MANAMHOC], [NAM1], [NAM2]) VALUES (N'NH2425', 2024, 2025)
GO
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'DiemDat', 5)
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'DiemDatMon', 5)
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'DiemToiDa', 10)
GO
ALTER TABLE [dbo].[BANGDIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MAHOCKY])
REFERENCES [dbo].[HOCKY] ([MAHOCKY])
GO
ALTER TABLE [dbo].[BANGDIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[BANGDIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[BCTONGKETHOCKY]  WITH CHECK ADD FOREIGN KEY([MAHOCKY])
REFERENCES [dbo].[HOCKY] ([MAHOCKY])
GO
ALTER TABLE [dbo].[BCTONGKETHOCKY]  WITH CHECK ADD FOREIGN KEY([MANAMHOC])
REFERENCES [dbo].[NAMHOC] ([MANAMHOC])
GO
ALTER TABLE [dbo].[BCTONGKETMON]  WITH CHECK ADD FOREIGN KEY([MAHOCKY])
REFERENCES [dbo].[HOCKY] ([MAHOCKY])
GO
ALTER TABLE [dbo].[BCTONGKETMON]  WITH CHECK ADD FOREIGN KEY([MANAMHOC])
REFERENCES [dbo].[NAMHOC] ([MANAMHOC])
GO
ALTER TABLE [dbo].[BCTONGKETMON]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[CT_BANGDIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MABDMH])
REFERENCES [dbo].[BANGDIEMMONHOC] ([MABDMH])
GO
ALTER TABLE [dbo].[CT_BANGDIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[CT_BCTONGKETHOCKY]  WITH CHECK ADD FOREIGN KEY([MABCTKHOCKY])
REFERENCES [dbo].[BCTONGKETHOCKY] ([MABCTKHOCKY])
GO
ALTER TABLE [dbo].[CT_BCTONGKETHOCKY]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[CT_BCTONGKETMON]  WITH CHECK ADD FOREIGN KEY([MABCTKMON])
REFERENCES [dbo].[BCTONGKETMON] ([MABCTKMON])
GO
ALTER TABLE [dbo].[CT_BCTONGKETMON]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[CT_DIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MACTBDMH])
REFERENCES [dbo].[CT_BANGDIEMMONHOC] ([MACTBDMH])
GO
ALTER TABLE [dbo].[CT_DIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MALOAIDIEM])
REFERENCES [dbo].[LOAIDIEM] ([MALOAIDIEM])
GO
ALTER TABLE [dbo].[CT_LOP]  WITH CHECK ADD FOREIGN KEY([MAHOCKY])
REFERENCES [dbo].[HOCKY] ([MAHOCKY])
GO
ALTER TABLE [dbo].[CT_LOP]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[CT_LOP]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[CT_MONHOC]  WITH CHECK ADD FOREIGN KEY([MALOAIDIEM])
REFERENCES [dbo].[LOAIDIEM] ([MALOAIDIEM])
GO
ALTER TABLE [dbo].[CT_MONHOC]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([MAKHOI])
REFERENCES [dbo].[KHOI] ([MAKHOI])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([MANAMHOC])
REFERENCES [dbo].[NAMHOC] ([MANAMHOC])
GO
/****** Object:  Trigger [dbo].[TRG_CAPNHAT_DIEM_TRUNG_BINH_HOC_KY]    Script Date: 7/1/2025 1:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CAPNHAT_DIEM_TRUNG_BINH_HOC_KY]
ON [dbo].[CT_BANGDIEMMONHOC]
AFTER UPDATE
AS
BEGIN
    -- Tắt thông báo "xx rows affected" để không làm nhiễu kết quả
    -- English: Disable the "xx rows affected" message to avoid cluttering the output
    SET NOCOUNT ON;

    -- Trigger chỉ nên chạy khi cột DTBMON thực sự được cập nhật để tối ưu hiệu suất
    -- English: The trigger should only run when the DTBMON column is actually updated to optimize performance
    IF NOT UPDATE(DTBMON)
    BEGIN
        RETURN;
    END; -- FIX: Thêm dấu chấm phẩy ở đây để kết thúc câu lệnh trước CTE. / FIX: Added a semicolon here to terminate the statement before the CTE.

    -- Sử dụng CTE (Common Table Expression) để tính toán điểm trung bình học kỳ mới
    -- English: Use a CTE (Common Table Expression) to calculate the new semester average score
    WITH AffectedStudents AS (
        -- Bước 1: Xác định những học sinh, lớp và học kỳ bị ảnh hưởng bởi sự thay đổi điểm
        -- English: Step 1: Identify the students, classes, and semesters affected by the score change
        SELECT DISTINCT
            bdmh.MALOP,
            i.MAHS,
            bdmh.MAHOCKY
        FROM
            inserted i
        JOIN
            BANGDIEMMONHOC bdmh ON i.MABDMH = bdmh.MABDMH
    ),
    NewSemesterAverages AS (
        -- Bước 2: Tính toán lại điểm trung bình cho toàn bộ học kỳ của những học sinh bị ảnh hưởng
        -- English: Step 2: Recalculate the entire semester average for the affected students
        SELECT
            aff.MALOP,
            aff.MAHS,
            aff.MAHOCKY,
            SUM(ctbdmh.DTBMON * mh.HESO) AS TotalWeightedScore,
            SUM(mh.HESO) AS TotalWeight
        FROM
            AffectedStudents aff
        -- Join để lấy TẤT CẢ các điểm môn học của học sinh đó trong học kỳ đó
        -- English: Join to get ALL subject scores for that student in that semester
        JOIN
            BANGDIEMMONHOC bdmh ON aff.MALOP = bdmh.MALOP AND aff.MAHOCKY = bdmh.MAHOCKY
        JOIN
            CT_BANGDIEMMONHOC ctbdmh ON bdmh.MABDMH = ctbdmh.MABDMH AND aff.MAHS = ctbdmh.MAHS
        JOIN
            MONHOC mh ON bdmh.MAMH = mh.MAMH
        GROUP BY
            aff.MALOP, aff.MAHS, aff.MAHOCKY
    )
    -- Bước 3: Cập nhật điểm trung bình học kỳ (DTBHK) vào bảng CT_LOP
    -- English: Step 3: Update the semester average score (DTBHK) in the CT_LOP table
    UPDATE ctl
    SET
        -- Công thức: SUM(Điểm TB Môn * Hệ số môn) / SUM(Hệ số môn)
        -- English: Formula: SUM(Subject Avg Score * Subject Weight) / SUM(Subject Weight)
        ctl.DTBHK = CASE
                        WHEN na.TotalWeight > 0 THEN na.TotalWeightedScore / na.TotalWeight
                        ELSE 0 -- Tránh lỗi chia cho 0 / Avoid division by zero
                    END
    FROM
        CT_LOP ctl
    JOIN
        NewSemesterAverages na ON ctl.MALOP = na.MALOP AND ctl.MAHS = na.MAHS AND ctl.MAHOCKY = na.MAHOCKY;

END;
GO
ALTER TABLE [dbo].[CT_BANGDIEMMONHOC] ENABLE TRIGGER [TRG_CAPNHAT_DIEM_TRUNG_BINH_HOC_KY]
GO
/****** Object:  Trigger [dbo].[TRG_Update_CT_BCTONGKETMON]    Script Date: 7/1/2025 1:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_Update_CT_BCTONGKETMON]
ON [dbo].[CT_BANGDIEMMONHOC]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @DiemDat FLOAT;
    SELECT @DiemDat = GIATRI FROM THAMSO WHERE TENTHAMSO = N'DiemDatMon';

    -- Duyệt các dòng bị ảnh hưởng
    ;WITH AffectedRows AS (
        SELECT DISTINCT 
            BDMH.MALOP, BDMH.MAMH, BDMH.MAHOCKY, BDMH.MABDMH
        FROM 
            (SELECT MABDMH FROM inserted
             UNION
             SELECT MABDMH FROM deleted) AS CHANGES
        JOIN BANGDIEMMONHOC BDMH ON CHANGES.MABDMH = BDMH.MABDMH
    )
    UPDATE CT
    SET 
        CT.SOLUONGDAT = DT.DAT_COUNT,
        CT.TILEDAT = CAST(DT.DAT_COUNT AS FLOAT) / NULLIF(CT.SISO, 0)
    FROM CT_BCTONGKETMON CT
    JOIN BCTONGKETMON TK ON CT.MABCTKMON = TK.MABCTKMON
    JOIN AffectedRows AR ON CT.MALOP = AR.MALOP AND TK.MAMH = AR.MAMH AND TK.MAHOCKY = AR.MAHOCKY
    CROSS APPLY (
        SELECT COUNT(*) AS DAT_COUNT
        FROM BANGDIEMMONHOC BDMH
        JOIN CT_BANGDIEMMONHOC CTBD ON BDMH.MABDMH = CTBD.MABDMH
        WHERE 
            BDMH.MALOP = AR.MALOP AND
            BDMH.MAMH = AR.MAMH AND
            BDMH.MAHOCKY = AR.MAHOCKY AND
            CTBD.DTBMON >= @DiemDat
    ) AS DT;
END;
GO
ALTER TABLE [dbo].[CT_BANGDIEMMONHOC] ENABLE TRIGGER [TRG_Update_CT_BCTONGKETMON]
GO
/****** Object:  Trigger [dbo].[TRG_CAPNHAT_DIEM_TRUNG_BINH_MON]    Script Date: 7/1/2025 1:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CAPNHAT_DIEM_TRUNG_BINH_MON]
ON [dbo].[CT_DIEMMONHOC]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    -- Tắt thông báo "xx rows affected" để không làm nhiễu kết quả
    -- English: Disable the "xx rows affected" message to avoid cluttering the output
    SET NOCOUNT ON;

    -- Lấy danh sách tất cả các MACTBDMH bị ảnh hưởng từ các hành động INSERT, UPDATE, DELETE
    -- English: Get a list of all affected MACTBDMH from INSERT, UPDATE, DELETE actions
    DECLARE @Affected_MACTBDMH TABLE (MACTBDMH VARCHAR(10) PRIMARY KEY);
    INSERT INTO @Affected_MACTBDMH (MACTBDMH)
    SELECT MACTBDMH FROM inserted
    UNION
    SELECT MACTBDMH FROM deleted;

    -- 1. CẬP NHẬT ĐIỂM TRUNG BÌNH CHO CÁC BẢNG ĐIỂM VẪN CÒN ĐIỂM THÀNH PHẦN
    -- English: 1. UPDATE THE AVERAGE SCORE FOR RECORDS THAT STILL HAVE COMPONENT SCORES

    -- Sử dụng một CTE (Common Table Expression) để tính toán điểm trung bình mới
    -- Công thức: SUM(Điểm * Hệ số) / SUM(Hệ số)
    -- English: Use a CTE (Common Table Expression) to calculate the new average score
    -- Formula: SUM(Score * Weight) / SUM(Weight)
    WITH WeightedScores AS (
        SELECT
            ctd.MACTBDMH,
            SUM(ctd.DIEM * ld.HESOLD) AS TotalWeightedScore,
            SUM(ld.HESOLD) AS TotalWeight
        FROM
            CT_DIEMMONHOC ctd
        JOIN
            LOAIDIEM ld ON ctd.MALOAIDIEM = ld.MALOAIDIEM
        WHERE
            ctd.MACTBDMH IN (SELECT MACTBDMH FROM @Affected_MACTBDMH)
        GROUP BY
            ctd.MACTBDMH
    )
    -- Cập nhật bảng CT_BANGDIEMMONHOC
    -- English: Update the CT_BANGDIEMMONHOC table
    UPDATE ctbdmh
    SET
        -- Nếu tổng hệ số > 0 thì tính toán, ngược lại trả về 0 để tránh lỗi chia cho 0
        -- English: If the total weight is > 0, perform the calculation; otherwise, return 0 to avoid division by zero
        ctbdmh.DTBMON = CASE
                           WHEN ws.TotalWeight > 0 THEN ws.TotalWeightedScore / ws.TotalWeight
                           ELSE 0
                       END
    FROM
        CT_BANGDIEMMONHOC ctbdmh
    JOIN
        WeightedScores ws ON ctbdmh.MACTBDMH = ws.MACTBDMH;


    -- 2. XỬ LÝ TRƯỜNG HỢP XÓA HẾT ĐIỂM THÀNH PHẦN CỦA MỘT MÔN
    -- English: 2. HANDLE THE CASE WHERE ALL COMPONENT SCORES FOR A SUBJECT ARE DELETED

    -- Nếu một MACTBDMH bị xóa hết điểm, điểm trung bình sẽ được cập nhật về 0
    -- English: If a MACTBDMH has all its scores deleted, the average score will be updated to 0
    UPDATE ctbdmh
    SET
        ctbdmh.DTBMON = 0
    FROM
        CT_BANGDIEMMONHOC ctbdmh
    WHERE
        ctbdmh.MACTBDMH IN (SELECT MACTBDMH FROM @Affected_MACTBDMH)
        AND NOT EXISTS (
            -- Kiểm tra xem có còn dòng nào trong CT_DIEMMONHOC tương ứng không
            -- English: Check if any corresponding rows still exist in CT_DIEMMONHOC
            SELECT 1
            FROM CT_DIEMMONHOC ctd
            WHERE ctd.MACTBDMH = ctbdmh.MACTBDMH
        );

END;
GO
ALTER TABLE [dbo].[CT_DIEMMONHOC] ENABLE TRIGGER [TRG_CAPNHAT_DIEM_TRUNG_BINH_MON]
GO
/****** Object:  Trigger [dbo].[TRG_Update_CT_BCTONGKETHOCKY]    Script Date: 7/1/2025 1:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_Update_CT_BCTONGKETHOCKY]
ON [dbo].[CT_LOP]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @DiemDat FLOAT;
    SELECT @DiemDat = GIATRI FROM THAMSO WHERE TENTHAMSO = N'DiemDat';

    -- Lấy các MALOP và MAHOCKY bị ảnh hưởng
    ;WITH Affected AS (
        SELECT DISTINCT MALOP, MAHOCKY FROM inserted
        UNION
        SELECT DISTINCT MALOP, MAHOCKY FROM deleted
    )
    UPDATE CT
    SET 
        CT.SOLUONGDAT = ISNULL(TT.SLDAT, 0),
        CT.TILEDAT = CAST(ISNULL(TT.SLDAT, 0) AS FLOAT) / NULLIF(CT.SISO, 0)
    FROM CT_BCTONGKETHOCKY CT
    JOIN BCTONGKETHOCKY BCTKHK ON CT.MABCTKHOCKY = BCTKHK.MABCTKHOCKY
    JOIN Affected A ON A.MALOP = CT.MALOP AND A.MAHOCKY = BCTKHK.MAHOCKY
    OUTER APPLY (
        SELECT COUNT(*) AS SLDAT
        FROM CT_LOP C
        WHERE 
            C.MALOP = A.MALOP AND 
            C.MAHOCKY = A.MAHOCKY AND 
            C.DTBHK >= @DiemDat
    ) TT;
END;
GO
ALTER TABLE [dbo].[CT_LOP] ENABLE TRIGGER [TRG_Update_CT_BCTONGKETHOCKY]
GO
/****** Object:  Trigger [dbo].[trg_UpdateSiSo_Delete]    Script Date: 7/1/2025 1:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateSiSo_Delete]
ON [dbo].[CT_LOP]
AFTER DELETE
AS
BEGIN
    UPDATE LOP
    SET SISO = (
        SELECT COUNT(distinct MAHS) FROM CT_LOP WHERE CT_LOP.MALOP = LOP.MALOP
    )
    WHERE MALOP IN (SELECT MALOP FROM DELETED)
END
GO
ALTER TABLE [dbo].[CT_LOP] ENABLE TRIGGER [trg_UpdateSiSo_Delete]
GO
/****** Object:  Trigger [dbo].[trg_UpdateSiSo_Insert]    Script Date: 7/1/2025 1:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateSiSo_Insert]
ON [dbo].[CT_LOP]
AFTER INSERT
AS
BEGIN
    UPDATE LOP
    SET SISO = (
        SELECT COUNT(distinct MAHS) FROM CT_LOP WHERE CT_LOP.MALOP = LOP.MALOP
    )
    WHERE MALOP IN (SELECT MALOP FROM INSERTED)
END
GO
ALTER TABLE [dbo].[CT_LOP] ENABLE TRIGGER [trg_UpdateSiSo_Insert]
GO
--USE [master]
--GO
--ALTER DATABASE [QUANLYHOCSINH] SET  READ_WRITE 
--GO
